@model RealTimeChat.ViewModels.LoginViewModel
<form asp-action="Login" asp-controller="Account">
    <input asp-for="Login" type="text" />
    <p></p>
    <input asp-for="Password" type="password"/>
    <p></p>
    <input type="submit" value="Login"/>
</form>