<div class="chat-wrapper">
    <div class="users"></div>
    <div class="message-wrapper">
        <ul class="messages"></ul>
        <div class="message-form">
            <input class="message-text" type="text" placeholder="Message..."/>
            <input class="message-button" onclick="sendMessage()" type="button" value="Send"/>
        </div>
    </div>
</div>

<style>
    *{
        padding: 0;
        margin: 0;
    }
    .chat-wrapper{
        width:100%;
        height:600px;
        display:flex;
        justify-content:center;
    }
    .users{
        
        background-color:gray;
        width:25%;
        height:100%; 
    }
    .message-wrapper{
        background-color:lightgray;
        width:75%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .messages{
        margin: 0;
        flex: 1; overflow: auto;
        list-style-type: none;
        width:100%;
        padding: 30px;
        height: 90%;        
    }
    .messages li{
        margin-bottom: 20px;
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }
    .messages li div{
        padding: 10px;
        border-radius: 8px;
        width: fit-content;
        background-color: beige;
    }
    .messages li.mymess{
        justify-content: flex-end;
    }
    .messages li.mymess div{
        background-color: lightblue;
    }
    .message-form{
        padding: 30px 50px;
        height:  10%;
        background-color: red;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .message-text{
        width: 85%;
    }
    .message-button{
        width: 13%;
    }

</style>

@section Scripts{
    <script>    
        let userId;
        $(document).ready(function () {
            $.ajax({
                type: "get",
                url: "https://localhost:5001/home/getUserId",
                success:  (userId) => localStorage.setItem('userId', userId)
            });
            userId = localStorage.getItem('userId');
            let messageList = $(".messages");
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/chathub")
                .withAutomaticReconnect()
                .build();

            connection.start();

            connection.on("ReceiveMessage", (message) => {
                const params = new URLSearchParams(window.location.search);
                if (message.chatId == params.get("chatId")){
                    messageList.append(`<li class="${message.senderId == userId ? 'mymess' : ''}">
                        <div>${message.text} from:${message.senderId}</div>
                    </li>`);
                }
                else alert("You have unread message from: " + message.senderId);
            });

        let users = $(".users");
        $.ajax({
            type: "get",
            url: "https://localhost:5001/home/getUsers",
            success: function (data) {
                $.each(data, function (index, user) {
                    users.append(`
                        <div onclick="openChat(${user.id})">
                           <span>${user.username}</span>
                        </div>
                    `);
                })
            }
        });
    })
        function openChat(receiverId) {

        let messageList = $(".messages");
        messageList.html("");
        $.ajax({
            type: "get",
            url: `https://localhost:5001/direct/getChat?receiverId=${receiverId}`,
            success: function (chat) {
                if (chat == null) {
                    messageList.html(`<button onclick="startChat(${receiverId})">Start talking?</button>`);
                }
                else {
                    history.pushState(null, "messenger",`https://localhost:5001/direct/index?chatId=${chat.id}`);
                    $.each(chat.messages, function (index, message) {
                        messageList.append(`<li class="${message.senderId == userId ? 'mymess' : ''}">
                            <div>${message.text} from: ${message.senderId}</div>
                        </li>`);
                    })
                }
               
            }
        })
    }
    function startChat(receiverId) {
        let messageList = $(".messages");
        $.ajax({
            type: "post",
            url: `https://localhost:5001/direct/createChat?receiverId=${receiverId}`,
            success: function (result) {
                if (result === true) {
                    messageList.html("");
                } else {
                    alert("Something went wrong");
                }
            }
        })
    }
    function sendMessage() {
        const params = new URLSearchParams(window.location.search);
        var chatId = params.get("chatId");
        let text = $(".message-text").val();
        let messages = $(".messages");
        let message = {
            "chatId": chatId,
            "text": text
        };

        $.ajax({
            type: "post",
            url: "https://localhost:5001/direct/sendMessage",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(message),
            success: function (result) {
               
            }
        })
    }
</script>
}